<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="../static/script.js" defer></script>
</head>
<body onload="addYear()">
    <div class="container">
    <header class="header">
        <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo">
        
        <nav class="nav_bar">
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="buytickets.html">Tickets</a>
        </nav>
    </header>
    <main class="main">
        <h2>Exhibitions</h2>
        <section class="exhibit-grid">
            <img src="../static/monomuselogo.png" alt="Landscape exhibition preview">
            <div>
                <h3>Landscapes</h3>
                <p>Explore panoramic digital terrains that blend nature with generative art, highlighting the balance between organic forms and algorithmic design.</p>
            </div>
        </section>
        <section class="exhibit-grid">
            <img src="../static/monomuselogo.png" alt="Seascape exhibition preview">
            <div>
                <h3>Seascapes</h3>
                <p>Dive into immersive oceanic projections where light, motion, and sound capture the movement and depth of contemporary seascapes.</p>
            </div>
        </section>
        
    </main>
    <figure class="main_figure main_img"></figure>
    <footer class="footer">
            <p id="copyYear"></p>
            <p>&copy; MonoMuse. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
</html>
