<h1> Checkout </h1>
<body>
    <header>
        <nav>
        <a href="../index.html">Home</a>
        <a href="explore.html">Explore</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a href="tickets.html">Tickets</a>
        <a href="checkout.html">Checkout</a>
        </nav>
    </header>
    <div class="main">
        <form>
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email"><br>
            <label for="quantity">Ticket Quantity:</label><br>
            <input type="number" id="quantity" name="quantity" min="1"><br><br>
            <input type="submit" value="Submit">
        </form>
        <footer>
            <p>&copy; 2026 MonoMuse. All rights reserved.</p>
        </footer>
    </div>
</body>