<html>
<head>
    <link rel="stylesheet" href="/sprasha2-increment2/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img id="logo" src="/sprasha2-increment2/static/monomuselogo.png" alt="MonoMuse Museum Logo">
        <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a id="navselected" href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
    </header>
    <div class="main">
        <h2>Exhibition 1: XXX</h2>
        <p>YYY</p>
        <h3>Exhibitiion 2: XXX</h3>
        <p>YYY</p>
        <footer>
            <p>&copy; 2026 MonoMuse. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>